.container {
  display: flex;
  gap: 1rem;
}

.icon {
  margin-top: 1rem;
}

.label {
  font-weight: bold;
  color: var(--color-grey-4);
  display: block;
  margin-bottom: 0.2rem;
}

.shortInfo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
}

@media (max-width: 600px) {
  .shortInfo {
    column-gap: 1rem;
  }
  .container {
    gap: 0.6rem;
  }
}
