.bar {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  gap: 2.4rem;
  align-items: center;
  cursor: pointer;
}

.selected {
  font-weight: bold;
}

@media (max-width: 800px) {
  .bar {
    gap: 1rem;
    justify-content: space-between;
  }
}
