.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.toogleButton {
  display: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

@media (max-width: 600px) {
  .toogleButton {
    display: flex;
  }

  .links {
    display: none;
    gap: 1rem;
    position: absolute;
    top: 8.2rem;
    right: 2rem;
    background-color: white;
    z-index: 2;
    padding: 2rem;
    padding-top: 0;
    padding-right: 0;
    width: 100%;
    justify-content: flex-end;
  }

  .active {
    display: flex;
  }
}

@media (max-width: 400px) {
  .links {
    justify-content: center;
    left: 0;
    width: auto;
    right: 2rem;
  }
}
