.previewContainer {
  width: 100%;
}

.imageContainer {
  display: block;
  position: relative;
  aspect-ratio: 1/1;
}

.image {
  border-radius: 1rem;
  object-fit: cover;
}

.offerLabels {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1;
}

.bestseller {
  width: fit-content;
  color: white;
  padding: 0.1rem 1rem;
  border-radius: 0.4rem;
  background-color: var(--color-brand-green);
  font-size: 12px;
}

.lastMinute {
  width: fit-content;
  color: white;
  padding: 0.1rem 1rem;
  border-radius: 0.4rem;
  background-color: var(--color-brand-purple);
  font-size: 12px;
}

.heart {
  position: absolute;
  margin: 1rem;
  top: 0;
  right: 0;
  display: flex;
  z-index: 1;
}

.favorite {
  filter: brightness(0) saturate(100%) invert(20%) sepia(97%) saturate(6591%)
    hue-rotate(342deg) brightness(101%) contrast(113%);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
}

.destination {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.6rem;
}

.blur {
  display: block;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  width: 100%;
  aspect-ratio: 1;
  background-color: grey;
  opacity: 0.6;
}

.blur:hover {
  opacity: 0;
  cursor: pointer;
}

@media (max-width: 600px) {
  .offerLabels {
    flex-direction: column;
  }

  .favorite {
    margin: 0.6rem;
  }

  .destination {
    margin-top: 0.4rem;
    font-size: 1.4rem;
  }
  .info {
    padding: 0 0.2rem;
  }
}
