@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.formContainer {
  margin: 2rem;
}

.signIn {
  font-family: "Pacifico", cursive;
  font-weight: 200;
  font-style: normal;
  color: var(--color-accent-orange);
  padding: 1rem 0;
}

.googleButton {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 20rem;
  font-weight: bold;
  color: var(--color-grey-4);
  padding: 0;
  margin-top: 1rem;
}

.googleButton:hover {
  color: var(--color-brand-purple);
  border-color: var(--color-brand-purple);
  border-width: 2px;
}

.logInButtonContainer {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.4rem;
}

.logInButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--color-brand-purple);
  font-size: 1.4rem;
}

.logInButton:hover {
  cursor: pointer;
}

.formContainer {
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.inputLabel {
  font-size: 1.4rem;
  color: var(--color-grey-4);
  margin-bottom: 0.2rem;
}

.button {
  width: 20rem;
  font-weight: bold;
  color: var(--color-grey-4);
  padding: 0;
}

.button:hover {
  color: var(--color-brand-purple);
  border-color: var(--color-brand-purple);
  border-width: 2px;
}

.input:hover {
  border-color: var(--color-brand-purple);
  border-width: 2px;
}

.message {
  display: block;
  height: 1.4rem;
  color: var(--color-notification-error);
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
