.button {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
  padding: 0 1rem;
}

.main {
  display: inline-block;
  font-weight: bold;
  color: var(--color-brand-purple);
  border-color: var(--color-brand-purple);
  border-width: 2px;
}

.icon {
  display: flex;
}
