.button {
  display: inline-block;
  min-width: 10rem;
}

.main {
  display: inline-block;
  font-weight: bold;
  color: var(--color-brand-purple);
  border-color: var(--color-brand-purple);
  border-width: 2px;
}
